@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Jost:ital,wght@0,400;0,700;1,300&family=Lato:ital,wght@0,300;1,300;1,400;1,700&family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,900&family=Oxygen:wght@300;400;700&family=PT+Sans:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&family=Oxygen:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

.checkout-thankyou-v8 {
    font-family: "Oxygen" !important;
}

.checkout-thankyou-v8 .icon-iteam-smry img {
    max-width: 72px;
}

.checkout-thankyou-v8 .custum-inner-container {
    padding: 20px 120px;
}

.checkout-thankyou-v8 .hedder-defgine {
    box-shadow: 0px 1px 4px rgba(112, 110, 121, 0.1);
    background-color: #fff;
}

.checkout-thankyou-v8 .image-logos img {
    width: 90px;
    height: 33px;
}

.checkout-thankyou-v8 .image-logos {
    display: flex;
    align-items: center;
    justify-content: end;
}

.checkout-thankyou-v8 .thank-you-section {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.19);
    padding: 25px 25px 35px 25px;
    background-color: #fff;
}

.checkout-thankyou-v8 .order-smrey {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.19);
    padding: 25px 25px 35px 25px;
    background-color: #fff;
}

.checkout-thankyou-v8 .user-name {
    font-family: "Oxygen" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #1c1c1c;
    text-align: left;
}
.checkout-thankyou-v8 .checkout-thankyou-footer-links a {
    color: #4D8FC3;
    padding-left: 10px;
}
.checkout-thankyou-v8 .icon-airplane img {
    height: 30px;
    width: 30px;
}

.checkout-thankyou-v8 .main-ship-cheak {
    border: 1px solid #dfdfdf;
    padding: 12px 15px 12px 15px;
}

.checkout-thankyou-v8 .check img {
    height: 20px;
    width: 20px;
}

.checkout-thankyou-v8 .main-ship-cheak {
    justify-content: space-between;
    align-items: center;
}

.checkout-thankyou-v8 .shipping {
    align-items: center;
}

.checkout-thankyou-v8 .user-datils-addres {
    margin-left: 15px;
}

.checkout-thankyou-v8 .user-datils-addres h4 {
    font-family: "Oxygen" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-thankyou-v8 .user-datils-addres p {
    font-family: "Oxygen" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 5px !important;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-thankyou-v8 .btn-contonue-shoping button {
    width: 100%;
    background: #4d8fc3;
    height: 54px;
    color: #ffffff;
    font-family: "Oxygen" !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 25px;
    border-radius: 0px;
    letter-spacing: 0em;
    border: 0;
    text-align: center;
}

.checkout-thankyou-v8 .order-smry-t {
    font-family: "Oxygen" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1c1c1c;
}

.checkout-thankyou-v8 .order-main {
    justify-content: space-between;
}

.checkout-thankyou-v8 .iteam-deatiles h4 {
    font-family: "Oxygen" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #1c1c1c;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-thankyou-v8 .iteam-deatiles p {
    font-family: "Oxygen" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #1c1c1c;
    text-align: left;
}

.checkout-thankyou-v8 .crose {
    text-align: right;
}

.checkout-thankyou-v8 .crose img {
    height: 13px;
    width: 13px;
}

.checkout-thankyou-v8 .iteam-price {
    font-family: "Oxygen" !important;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1c1c1c;
}

.checkout-thankyou-v8 .order-main.d-flex.mt-3 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 16px;
}

.checkout-thankyou-v8 .toatal-thx-data {
    font-family: "Oxygen" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    color: #1c1c1c;
    text-align: left;
}

.checkout-thankyou-v8 .toatal-thx-data span {
    font-family: "Oxygen" !important;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-thankyou-v8 .last-fotr-total h5 {
    font-family: "Oxygen" !important;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-thankyou-v8 .last-fotr-total h5 span {
    font-family: "Oxygen" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1c1c1c;
}

.checkout-thankyou-v8 .total-ship-price {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.checkout-thankyou-v8 .main.checkout {
    background-image: url(/assets/img/nyc-fram.png);
    background-position: bottom left;
    background-size: 24%;
    background-color: #fff3eb;
    background-repeat: no-repeat;
}

.checkout-thankyou-v8 .main-inner-back-botom {
    height: calc(100vh - 130px);
}

@media (max-width: 992px) {
    .checkout-thankyou-v8 .custum-inner-container {
        padding: 14px 0px;
    }

    .checkout-thankyou-v8 .master-card {
        margin-right: 13px !important;
    }

    .checkout-thankyou-v8 .main-inner-back-botom {
        height: 100%;
    }

    .checkout-thankyou-v8 .main.checkout {
        background-position: 74% bottom;
        background-size: 0%;
    }

    .checkout-thankyou-v8 .order-smrey {
        margin-top: 25px;
    }
}

.checkout-thankyou-v8 .logo-set-thank {
    height: 30px;
}