
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Jost:ital,wght@0,400;0,700;1,300&family=Lato:ital,wght@0,300;1,300;1,400;1,700&family=Urbanist:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

input.error {
    color: #b00020 !important;
    border-color: #b00020 !important;
}

.error {
    color: #b00020 !important;
}

.error-section {
    color: #b00020 !important;
    border-color: #b00020 !important;
}

.checkout-template-v1 {
    font-family: "Urbanist" !important;
}

.checkout-template-v1 main.main.checkout {
    background: #f5f5f5;
}

.checkout-template-v1 .cstm-cont {
    padding: 20px 120px;
}

.checkout-template-v1 svg.arow {
    height: 11px;
}

.checkout-template-v1 .bac-ward {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v1 .main-fire {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 11px 11px;
    background: #F2F56C;
    border-radius: 5px;
}

.checkout-template-v1 .pera-degine {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    color: #2f2f2f;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v1 .pera-degine-1 {
    font-family: "Urbanist" !important;
    font-size: 16px;
    color: #2f2f2f;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v1 .smrry-txt {
    font-family: "Urbanist" !important;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v1 .fire-outer {
    padding-right: 57px;
}

.checkout-template-v1 svg.x-mark {
    height: 20px;
}

.checkout-template-v1 .smry-dta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 29px;
}

.checkout-template-v1 .image-tital {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-template-v1 .paddd-5 {
    padding-left: 47px;
}

.checkout-template-v1 .crose {
    text-align: right;
}

.checkout-template-v1 .per_col-size {
    font-family: "Urbanist" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #999999;
    text-align: left;
    margin-top: 22px;
}

.checkout-template-v1 .item-tital {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v1 .price-iteam {
    font-family: "Urbanist" !important;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 35px;
}

.checkout-template-v1 .btn-ofrrt-in {
    height: 62px !important;
    background-color: button_color;
    font-family: "Urbanist" !important;
    border-radius: 0px 5px 5px 0px !important;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 19px;
    letter-spacing: 0px;
    width: 100px !important;
    text-align: center;
    color: #fff;
}

.checkout-template-v1 .btn-ofrrt-in:active {
    background-attachment: button_color !important;
}

.checkout-template-v1 .btn-ofrrt-in:hover {
    color: #fff;
    background-color: button_color;
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}

.checkout-template-v1 .form-control:focus {
    background-color: #fff;
    border-color: #d9d9d9;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.checkout-template-v1 .ofrr-cupn {
    border-radius: 5px 0px 0px 5px;
}

.checkout-template-v1 .dis-code {
    font-family: "Urbanist" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 7px;
    color: #ffffff;
}

.checkout-template-v1 .text__order-ship {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    line-height: 19px;
    margin-bottom: 10px;
}

.checkout-template-v1 .iteam__sh {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 .tatl-txt {
    font-family: "Urbanist" !important;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    color: #000000;
    text-align: left;
}

.checkout-template-v1 .hori-rol {
    margin: 30px 0px;
}

.checkout-template-v1 .names-in {
    border: none;
    border-radius: 5px;
    padding: 19px 15px;
    outline: none;
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
    background: #ffffff;
    border: 1px solid #d6d6d6;
}

.checkout-template-v1 .input-group.phone-number-filed.mb-3 {
    background: #ffffff;
    border: 0;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.checkout-template-v1 ::-webkit-input-placeholder {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #747474;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 ::-moz-placeholder {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #747474;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 :-ms-input-placeholder {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #747474;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 ::-ms-input-placeholder {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #747474;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 ::placeholder {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #747474;
    letter-spacing: 0px;
    text-align: left;
}

/* .brtd-defin::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0px;
        background: red;
        left: 0;
        border: 1px solid rgba(38, 35, 55, 0.1);
        ;
        top: 88px;
    } */

.checkout-template-v1 .names-in-cuntry {
    border: none;
    padding: 19px 15px;
    outline: none;
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    border: 1px solid #d6d6d6 !important;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    background: transparent;
}

.checkout-template-v1 h2.shipin-add.ss-kjej.meth-ship {
    margin-top: 31px;
}

.checkout-template-v1 .cheak-bx {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px !important;
    margin: 0;
    color: #000000;
    line-height: 19px;
    letter-spacing: 0em;
    /* text-align: center; */
}

.checkout-template-v1 .cheak-condition-v2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
}

.checkout-template-v1 .shipin-add {
    font-family: "Urbanist" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin-top: 22px;
    color: #042030;
    text-align: left;
    margin-bottom: 20px;
}

.checkout-template-v1 .main-inner-payment img {
    width: 30px;
    margin-right: 10px;
}

.checkout-template-v1 .main-inr-payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ffffff;
    cursor: pointer;
    padding: 15px;
     
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin-bottom: -3px;
}

.checkout-template-v1 input.names-in.accnt.mb-0 {
    accent-color: accent_color !important;
    height: 19px;
    border-radius: 2px;
    width: 19px;
}

.checkout-template-v1 select.names-in-cuntry {
    background: #ffffff;
    border-radius: 5px;
    border: 0;
}

.checkout-template-v1 .info-txt_i {
    font-family: "Urbanist" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #042030;
    text-align: left;
}

.checkout-template-v1 .info-tzxt-log {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.checkout-template-v1 .image-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.checkout-template-v1 .image-logos img {
    width: 90px;
    height: 33px;
    margin-top: 9px;
}

.checkout-template-v1 .smry-data-show {
    background: #fdfdfd;
}

.checkout-template-v1 .lockk {
    width: 20px;
}

.checkout-template-v1 span.ms-1.lockk {
    font-family: "Urbanist" !important;
}

.checkout-template-v1 .ctnry-selet {
    width: 100%;
    background: transparent;
    border: none;
    border-right: 1px solid #ccc !important;
    outline: none;
    max-width: 20%;
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
}

.checkout-template-v1 .phone-number-filed {
    border-bottom: 1px solid #ccc;
    padding: 16px;
}

.checkout-template-v1 .op-no {
    border: none !important;
    /* border-left: 1px solid #ccc !important; */
    margin-left: 10px;
    padding: 0px 12px;
    width: 100%;
    /* max-width: 80%; */
}

.checkout-template-v1 .top-gap-ttt {
    margin-top: 22px;
}

.checkout-template-v1 .login-txtx {
    text-decoration: underline;
    color: #55AA33;
    font-family: "Urbanist" !important;
}

.checkout-template-v1 .login-txtx:hover {
    color: #55AA33 !important;
}

.checkout-template-v1 .col.top-gap-ttt {
    color: #747474;
    text-align: right;
}

.checkout-template-v1 .wi-difine {
    width: 300px !important;
}

.checkout-template-v1 .gap-card-in {
    margin-top: 15px;
}

.checkout-template-v1 .shipping-free {
    accent-color: #fb7d5c;
    height: 20px;
    width: 20px;
}

.checkout-template-v1 .btn-Confirm {
    padding: 10px 0px;
    border: 0;
    font-family: "Urbanist" !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    width: 100%;
    letter-spacing: 0em;
    color: #ffffff;
    text-align: center;
    background-color: button_color;
    border-radius: 5px;
    margin-top: 40px;
}

.checkout-template-v1 .squre_payment-img img {
    height: 50px !important;
    width: 50px !important;
}

.checkout-template-v1 .squre_payment-txtt h4 {
    font-family: "Urbanist" !important;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 23.12px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v1 .squre_payment-txtt p {
    font-family: "Urbanist" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    max-width: 308px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;
}

.checkout-template-v1 .squre_payment-txtt p br {
    display: none;
}

.checkout-template-v1 .mainh__Wdwd {
    margin-top: 20px;
}

.checkout-template-v1 .ftr img {
    width: 128px;
    margin-left: 10px;
}

.checkout-template-v1 .ftr {
    /* align-items: center; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 20px;
}

.checkout-template-v1 .cart-iocn {
    height: 20px;
    width: 20px;
}

.checkout-template-v1 .paymnt-method-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-template-v1 .anker-st-clor {
    color: #55AA33;
}

.checkout-template-v1 .anker-st-clor:hover {
    color: #55AA33 !important;
}

.checkout-template-v1 .iteam-in-car {
    font-family: "Urbanist" !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.checkout-template-v1 .line-crose-itm {
    font-family: "Urbanist" !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #999999;
    text-decoration: line-through;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 .ofeer-price {
    font-family: "Urbanist" !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #000000;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 .card-txt-degine {
    font-family: "Urbanist" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #747474;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 .add-spa-n {
    margin-top: 26px;
}

.checkout-template-v1 .ftr p {
    font-family: "Urbanist" !important;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 .main-inner-payment p {
    font-family: "Urbanist" !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 19px;
    color: #000000;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v1 .short-screen-show {
    display: none;
}

@media (max-width: 992px) {
    .checkout-template-v1 .cstm-cont {
        padding: 8px 0px;
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
    }

    .checkout-template-v1 .left-side {
        padding-right: 30px !important;
    }

    .checkout-template-v1 .main-inner-header {
        padding: 0 10px;
    }

    .checkout-template-v1 section.main-inner-shoping-details {
        padding-top: 0px !important;
    }

    .checkout-template-v1 .resposive-set-ped {
        padding: 0 20px !important;
    }
}

@media screen and (max-width: 767px) {
    .checkout-template-v1 .fire-outer {
        padding: 0;
    }

    .checkout-template-v1 .define-order-1 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .checkout-template-v1 .define-order-2 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .checkout-template-v1 .define-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .checkout-template-v1 .last-divider {
        border-bottom: 1px solid #fb7d5c !important;
        padding-bottom: 30px !important;
    }

    .checkout-template-v1 .wi-difine {
        width: 230px !important;
    }

    .checkout-template-v1 .pera-degine {
        line-height: 18px;
    }

    .checkout-template-v1 .sec-logo {
        margin-top: 5px !important;
        margin-bottom: 11px !important;
    }

    .checkout-template-v1 .ftr p {
        color: #042030;
    }

    .checkout-template-v1 .cont-infooo {
        margin-top: 50px !important;
    }

    .checkout-template-v1 .pera-degine-1 {
        font-size: 14px;
    }

    .checkout-template-v1 .squre_payment-txtt p {
        font-family: "Urbanist" !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 0px !important;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }

    .checkout-template-v1 .squre_payment-txtt h4 {
        margin: 0px !important;
    }

    .checkout-template-v1 .pera-degine {
        font-size: 14px;
    }

    .checkout-template-v1 .names-in {
        margin-bottom: 10px;
    }

    .checkout-template-v1 .squre_payment-txtt h4 {
        color: #042030;
    }

    .checkout-template-v1 .dividesion-main-outer {
        border-bottom: 1px solid #fb7d5c !important;
    }

    .checkout-template-v1 .smry-dta {
        margin-top: 0px;
    }

    .checkout-template-v1 .master-card {
        margin-right: 13px !important;
    }

    .checkout-template-v1 .smry-data-mainn {
        display: none;
    }

    .checkout-template-v1 .info-tzxt-log {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        line-height: 19px;
        margin-top: 15px;
        letter-spacing: 0em;
        text-align: center;
    }

    /* 
        .brtd-defin::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0px;
            background: red;
            left: 0;
            border: 1px solid rgba(38, 35, 55, 0.1);
            top: 65px;
        } */

    .checkout-template-v1 .short-screen-show {
        display: block;
    }

    .checkout-template-v1 h2.shipin-add.ss-kjej.meth-ship {
        padding: 0px 13px;
    }

    .checkout-template-v1 .big-btn-show {
        display: none;
    }

    .checkout-template-v1 .resposive-dhdh {
        background-color: #EDEDF1;
        height: 60px;
        padding: 10px 8px !important;
        padding: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        row-gap: 10px;
        /* flex-direction: column; */
    }

    .checkout-template-v1 .paymnt-method-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .checkout-template-v1 .price-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .checkout-template-v1 .smry-dta {
        padding: 8px 10px;
        /* background: #dcecfb; */
    }

    .checkout-template-v1 h4.dis-code {
        /* background: red; */
        /* background: #dcecfb; */
        margin: 0;

        padding: 0px 10px;
    }

    .checkout-template-v1 .offer.d-flex {
        padding: 5px 11px;
        /* background: #dcecfb; */
    }

    .checkout-template-v1 h5.text__order-ship.mt-3 {
        margin: 0 !important;
        padding: 20px 10px 5px 10px;
        /* background: #dcecfb; */
    }

    .checkout-template-v1 h5.text__order-ship {
        margin: 0 !important;
        padding: 3px 10px;
        /* background: #dcecfb; */
    }

    .checkout-template-v1 .hori-rol {
        margin: 15px 0px;
    }

    .checkout-template-v1 h5.tatl-txt {
        /* background: #dcecfb; */
        padding: 15px 10px 33px 10px;
        margin: 0 !important;
        /* border-radius: 0px; */
        font-family: "Urbanist" !important;
        border-radius: 0px 0px 30px 30px;
        font-size: 18px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
    }

    .checkout-template-v1 .cont-infooo.d-flex.justify-content-between.mt-4 {
        padding: 0px 10px;
    }

    .checkout-template-v1 .ss-kjej {
        padding: 0px 12px;
    }

    .checkout-template-v1 .ss-kjmar {
        margin: 0px 10px;
    }

    .checkout-template-v1 .smry-data-show {
        display: none;
    }

    .checkout-template-v1 .smry-data-show.active {
        display: block;
    }

    .checkout-template-v1 .store_logo_header.ss-kjmar {
        width: 100%;
        margin: 0;
    }

    .checkout-template-v1 .pera-degine br {
        display: none;
    }

    .checkout-template-v1 .card-icon-txt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .checkout-template-v1 .cont-infooo {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .checkout-template-v1 .price-iteam {
        font-family: "Urbanist" !important;
        font-size: 13px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        color: #000000;
        text-align: left;
        margin-top: 30px;
    }

    .checkout-template-v1 .item-tital {
        font-family: "Urbanist" !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        color: #000000;
        text-align: left;
    }

    .checkout-template-v1 .paymnt-method-lock {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .checkout-template-v1 .paymnt-method-lock {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .checkout-template-v1 .top-gap-ttt {
        color: #808080;
        text-align: left !important;
        font-size: 13px;
        margin-top: 0 !important;
        padding: 0 !important;
        margin-bottom: 10px;
    }

    .checkout-template-v1 .resposive-set-ped {
        padding: 0 !important;
    }

    .checkout-template-v1 .cheak-condition-v2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: self-start;
        -ms-flex-align: self-start;
        align-items: self-start;
        padding: 10px 13px;
        /* justify-content: center; */
    }

    .checkout-template-v1 .set-row-v2 {
        margin: 0;
        max-width: 100%;
        padding: 0;
    }

    .checkout-template-v1 .main-fire,
    .resposive-smry-cart {
        padding: 10px 10px;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    .checkout-template-v1 .resposive-smry-cart {
        /* background: #c6dff7; */
        padding: 0;
    }

    .checkout-template-v1 .card-icon-txt span {
        font-size: 16px;
    }

    .checkout-template-v1 .img-fire {
        margin: 0 !important;
    }

    .checkout-template-v1 .pera-degine {
        margin: 0 !important;
    }

    .checkout-template-v1 .pera-degine-1 {
        margin: 0 !important;
    }

    .checkout-template-v1 .price-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .checkout-template-v1 .paddd-5 {
        padding: 10px;
    }

    .checkout-template-v1 .main-iner-upr-details-cards:after,
    section.main-inner-shoping-details:after {
        display: none;
    }

    .checkout-template-v1 .left-side {
        padding-right: 0 !important;
    }
}

.checkout-template-v1 .left-side {
    padding-right: 57px;
}

@media (max-width: 374px) {
    .checkout-template-v1 .resposive-dhdh {
        padding: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        row-gap: 10px;
    }

    .checkout-template-v1 .price-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .checkout-template-v1 .resposive-set-ped {
        padding: 0px !important;
    }
}

.checkout-template-v1 .btn-Confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 62px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .checkout-template-v1 .resposive-smry-cart {
        display: none;
    }
}

.checkout-template-v1 .main-iner-upr-details-cards:after,
section.main-inner-shoping-details:after {
    content: "";
    background: #F8F8F9;
    position: absolute;
    right: 0;
    width: 43%;
    height: 100%;
    top: 5px;
    z-index: -1;
}

.checkout-template-v1 .main-iner-upr-details-cards {
    position: relative;
    background-color: #ffffff;
    z-index: 1;
}

.checkout-template-v1 section.main-inner-shoping-details {
    z-index: 1;
}

.checkout-template-v1 label.lab-billing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-template-v1 .reoer {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 16px;
    top: 20px;
}

.checkout-template-v1 .tolmain-e {
    position: relative;
}

.checkout-template-v1 svg.cart-icon {
    height: 20px;
    width: 20px;
}

.checkout-template-v1 .smry-data-show {
    background: #F8F8F9;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
    border-radius: 0px 0px 30px 30px;
    width: 100% !important;
}

.checkout-template-v1 .resposive-dhdh.active {
    border-radius: 0;
}

.checkout-template-v1 .resposive-dhdh {
    border-radius: 0px 0px 30px 30px;
}

.checkout-template-v1 hr.mt-5.dg-ee-divide {
    color: #ffffff;
}

.checkout-template-v1 .total-iteam-price-inner {
    border: 1px solid #fff;
    margin-top: 30px;
    padding: 30px 0px;
    border-right: none;
    border-left: none;
}

.checkout-template-v1 .form-control:focus {
    background-color: #fff;
    border-color: #d9d9d9;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(159 72 72 / 0%);
    box-shadow: 0 0 0 0.25rem rgb(159 72 72 / 0%);
}

.checkout-template-v1 .dividesion-main-outer {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.checkout-template-v1 .container-fluid.cstm-cont.brtd-defin {
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 4px rgba(38, 35, 55, 0.1);
    box-shadow: 0px 1px 4px rgba(38, 35, 55, 0.1);
    border-bottom: 1px solid #D9D9D9;
}

.checkout-template-v1 .billing-form {
    display: none;
}

.checkout-template-v1 .smry-data-mainn {
    margin-top: 55px;
}

.checkout-template-v1 .lock-txt {
    font-family: "Urbanist" !important;
}

.checkout-template-v1 .cheak-style:checked {
    background: accent_color !important;
    border-color: accent_color !important;
    accent-color: accent_color !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 19px !important;
    height: 19px !important;
    padding: 0;
    position: relative;
}

.checkout-template-v1 .cheak-style:checked::after {
    content: "";
    background: url(/assets/img/Vector.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-position: center;
}

.checkout-template-v1 .radio-style:checked {
    border-color: accent_color !important;
    accent-color: accent_color !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid accent_color;
    border-radius: 50%;
    width: 19px !important;
    height: 19px !important;
    padding: 0px;
    position: relative;
}

.checkout-template-v1 .radio-style:checked::after {
    content: "";
    background: accent_color;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    background-position: center;
}

.checkout-template-v1 .image-smry img {
    max-width: 72px;
}

.checkout-template-v1 path.path-color-cros {
    fill: #999999;
}

.checkout-template-v1 path.path-color-cart-buket {
    fill: #999999;
}

.checkout-template-v1 path.path-color-arrow {
    fill: #999999;
}

.checkout-template-v1 .total-all-iteam {
    border-top: 1px solid #E2E2E2;
    /* border-bottom: 1px solid #E2E2E2; */
    margin-top: 30px;
}

.checkout-template-v1 .total-all-iteam-2 {
    border-top: 1px solid #E2E2E2;
}

.checkout-template-v1 .text__order-ship.extra-pad {
    padding-bottom: 25px !important;
}

.checkout-template-v1 .last-divider {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 42px;
}

.checkout-template-v1 .ftr {
    margin-top: 15px;
}

.checkout-template-v1 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkout-template-v1 .select-wreper {
    position: relative;
}

.checkout-template-v1 .select-wreper::after {
    content: "▼";
    font-size: 1rem;
    color: #000000;
    top: 17px;
    left: 50px;
    /* right: 24px; */
    position: absolute;
}

.checkout-template-v1 .select-wreper-2 {
    position: relative;
}

.checkout-template-v1 .select-wreper-2::after {
    top: 15px;
    right: 15px;
    width: 25px;
    content: "▼";
    color: #000000;
    font-size: 1rem;
    background: #fff;
    position: absolute;
}

.checkout-template-v1 .select-wreper-3 {
    position: relative;
}

.checkout-template-v1 .select-wreper-3::after {
    content: "▼";
    font-size: 1rem;
    color: #000000;
    right: 32px;
    top: 15px;
    /* left: 57px; */
    position: absolute;
}

.checkout-template-v1 .select-wreper-4 {
    position: relative;
}

.checkout-template-v1 .select-wreper-4::after {
    content: "▼";
    font-size: 1rem;
    color: #000000;
    right: 32px;
    top: 15px;
    /* left: 57px; */
    position: absolute;
}

.checkout-template-v1 .first-smry {
    padding-top: 25px !important;
}

.checkout-template-v1 img.ms-3.img-fire {
    max-width: 30px;
}

/*** Checkout Footer Css ***/
.checkout-template-v1 .checkout-footer {
    padding-right: 57px;
}

.checkout-template-v1 .checkout-footer .checkout-footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 20px 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 32px;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.checkout-template-v1 .checkout-footer.checkout-footer-mobile .checkout-footer-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.checkout-footer-mobile {
    display: none;
}

.checkout-template-v1 .checkout-footer .checkout-footer-links a {
    color: accent_color;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}

.discount-apply-outside-cart-summary {
    display: none;
}

.discount-apply-outside-cart-summary h4 {
    margin: 0;
    padding: 5px 10px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #999999;

}

.discount-apply-outside-cart-summary .discount-input-section {
    margin: 0;
    padding: 0px 11px;
}

@media (max-width:786px) {
    .discount-apply-outside-cart-summary {
        display: block !important;
    }

    .checkout-footer.checkout-footer-web {
        display: none !important;
    }

    .checkout-footer.checkout-footer-mobile {
        display: block !important;
    }
}

.checkout-template-v1 label.version-label {
    position: absolute;
    top: -8px;
    left: 25px;
    background: #ffffff;
    z-index: 99;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: #999999;
    padding: 0px 8px;
}