

* {
    margin: 0;
    padding: 0;
}

.label-hide {
    display: none;
}

input.error {
    color: #b00020 !important;
    border-color: #b00020 !important;
}

.error {
    color: #b00020 !important;
}

.error-section {
    color: #b00020 !important;
    border-color: #b00020 !important;
}

.checkout-template-v2 .cstm-cont {
    padding: 20px 120px;
}

.checkout-template-v2 svg.arow {
    height: 11px;
}

.checkout-template-v2 .bac-ward {
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v2 .main-fire {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 11px 11px;
    background: #f5fac3;
}

.checkout-template-v2 .fire-outer {
    padding-right: 57px;
}

.checkout-template-v2 .pera-degine {
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 400;
    color: #2f2f2f;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v2 .pera-degine-1 {
    font-family: "Lato" !important;
    font-size: 16px;
    color: #2f2f2f;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v2 .smrry-txt {
    font-family: "lato" !important;
    font-size: 24px;
    color: #262337;
    font-weight: 700;
    margin: 0;
    background: #dcecfb;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v2 svg.x-mark {
    height: 20px;
}

.checkout-template-v2 .smry-dta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 29px;
}

.checkout-template-v2 .image-tital {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-template-v2 .paddd-5 {
    padding-left: 47px;
}

.checkout-template-v2 .crose {
    text-align: right;
}

.checkout-template-v2 .per_col-size {
    font-family: "lato" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #999999;
    text-align: left;
    margin-top: 22px;
}

.checkout-template-v2 .item-tital {
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #262337;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v2 .price-iteam {
    font-family: "lato" !important;
    font-size: 18px;
    font-weight: 600;
    color: #262337;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 35px;
}

.checkout-template-v2 .btn-ofrrt-in {
    border-radius: 0px !important;
    background-color: #262337;
    font-family: "lato" !important;
    height: 61px;
    font-size: 16px;
    font-weight: 600 !important;
    width: 100px !important;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}

.checkout-template-v2 .btn-ofrrt-in:active {
    background-attachment: #262337 !important;
}

.checkout-template-v2 .btn-ofrrt-in:hover {
    background-color: #262337;
    color: #fff;
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important;
}

.checkout-template-v2 .form-control:focus {
    background-color: #fff;
    border-color: #d9d9d9;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.checkout-template-v2 .ofrr-cupn {
    border-radius: 0px !important;
    height: 62px;
}

.checkout-template-v2 .dis-code {
    font-family: "lato" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 7px;
    color: #999999;
}

.checkout-template-v2 .text__order-ship {
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    line-height: 19px;
    margin-bottom: 10px;
}

.checkout-template-v2 .iteam__sh {
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 600;
    color: #262337;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v2 .tatl-txt {
    font-family: "lato" !important;
    font-size: 20px;
    /* padding-top: 30px; */
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    color: #262337;
    text-align: left;
}

.checkout-template-v2 .hori-rol {
    margin: 30px 0px;
}

.checkout-template-v2 .names-in {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 19px 15px;
    outline: none;
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.checkout-template-v2 .names-in-cuntry {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 19px 15px;
    outline: none;
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    background: transparent;
}

.checkout-template-v2 h2.shipin-add.ss-kjej.meth-ship {
    margin-top: 31px;
}

.checkout-template-v2 .cheak-bx {
    font-family: "lato" !important;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    color: #000000;
    margin-left: 12px;
    line-height: 19px;
    letter-spacing: 0em;
    /* text-align: center; */
}

.checkout-template-v2 .cheak-condition-v2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.checkout-template-v2 .shipin-add {
    font-family: "lato" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 22px;
    color: #262337;
    text-align: left;
    margin-bottom: 20px;
}

.checkout-template-v2 .main-inner-payment img {
    width: 30px;
    margin-right: 10px;
}

.checkout-template-v2 .main-inr-payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    height: 57px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: -3px;
}

.checkout-template-v2 input.names-in.accnt.mb-0 {
    accent-color: #484794;
    height: 19px;
    border-radius: 4px;
    width: 19px;
}

.checkout-template-v2 .info-txt_i {
    font-family: "Lato" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #262337;
    text-align: left;
}

.checkout-template-v2 .info-tzxt-log {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.checkout-template-v2 .image-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.checkout-template-v2 .image-logos img {
    width: 90px;
    height: 33px;
    margin-top: 9px;
}

.checkout-template-v2 .smry-data-show {
    background: #fdfdfd;
    border-radius: 0px 0px 30px 30px;
    width: 100% !important;
}

.checkout-template-v1 .resposive-dhdh.active {
    border-radius: 0;
}

.checkout-template-v1 .resposive-dhdh {
    border-radius: 0px 0px 30px 30px;
}

.checkout-template-v2 .lockk {
    width: 20px;
}

.checkout-template-v2 .ctnry-selet {
    width: 100%;
    background: transparent;
    border: none;
    border-right: 1px solid #ccc !important;
    outline: none;
    max-width: 20%;
    font-family: "Lato" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
}

.checkout-template-v2 .phone-number-filed {
    border-bottom: 1px solid #ccc;
    padding: 16px;
}

.checkout-template-v2 .op-no {
    border: none !important;
    /* border-left: 1px solid #ccc !important; */
    margin-left: 10px;
    padding: 0px 12px;
    width: 100%;
    /* max-width: 80%; */
}

.checkout-template-v2 .top-gap-ttt {
    margin-top: 22px;
}

.checkout-template-v2 .login-txtx {
    text-decoration: underline;
}

.checkout-template-v2 .col.top-gap-ttt {
    color: #808080;
    text-align: right;
}

.checkout-template-v2 .wi-difine {
    width: 300px !important;
}

.checkout-template-v2 .gap-card-in {
    margin-top: 15px;
}

.checkout-template-v2 .shipping-free {
    accent-color: #484794;
    height: 20px;
    width: 20px;
}

.checkout-template-v2 .btn-Confirm {
    padding: 10px 0px;
    border: 0;
    font-family: "Lato" !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    width: 100%;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
    background-color: #262337;
    border-radius: 5px;
    margin-top: 40px;
}

.checkout-template-v2 .squre_payment-img img {
    height: 50px;
    width: 50px;
}

.checkout-template-v2 .squre_payment-txtt h4 {
    font-family: "Lato" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #000000;
    text-transform: capitalize;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-template-v2 .squre_payment-txtt p {
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    max-width: 308px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;
}

.checkout-template-v2 .squre_payment-txtt p br {
    display: none;
}

.checkout-template-v2 .mainh__Wdwd {
    margin-top: 20px;
}

.checkout-template-v2 .ftr img {
    width: 128px;
    margin-left: 10px;
}

.checkout-template-v2 .ftr {
    /* align-items: center; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 20px;
}

.checkout-template-v2 .cart-iocn {
    height: 20px;
    width: 20px;
}

.checkout-template-v2 .paymnt-method-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-template-v2 .anker-st-clor {
    color: #484794 !important;
    font-size: "lato";
}

.checkout-template-v2 .anker-st-clor:hover {
    color: #484794 !important;
}

.checkout-template-v2 a.ms-1.login-txtx {
    color: #484794 !important;
    font-family: "Lato" !important;
}

.checkout-template-v2 .brtd-defin::after {
    content: "";
    position: absolute;
    width: 100% !important;
    height: 0px;
    /* background: red; */
    left: 0;
    border: 1px solid #ebebeb;
    top: 86px;
}

.checkout-template-v2 .iteam-in-car {
    font-family: "Lato" !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #262337;
}

.checkout-template-v2 .line-crose-itm {
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #999999;
    text-decoration: line-through;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v2 .ofeer-price {
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #262337;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v2 .card-txt-degine {
    font-family: "Lato" !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 19px;
    color: #999999;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v2 .add-spa-n {
    margin-top: 26px;
}

.checkout-template-v2 .ftr p {
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v4 .main-inner-payment p {
    font-family: "Lato" !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 19px;
    color: red;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v2 .short-screen-show {
    display: none;
}

@media (max-width: 992px) {
    .checkout-template-v2 .cstm-cont {
        padding: 8px 0px;
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
    }

    .checkout-template-v2 .left-side {
        padding-right: 30px !important;
    }

    .checkout-template-v2 .main-inner-header {
        padding: 0 10px;
    }

    .checkout-template-v2 section.main-inner-shoping-details {
        padding-top: 0px !important;
    }

    .checkout-template-v2 .resposive-set-ped {
        padding: 0 20px !important;
    }
}

@media screen and (max-width: 767px) {
    .checkout-template-v2 .define-order-1 {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .checkout-template-v2 .define-order-2 {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .checkout-template-v2 .define-order-3 {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }

    .checkout-template-v2 .last-divider {
        border-bottom: 1px solid #e2e2e2 !important;
        padding-bottom: 30px !important;
    }

    .checkout-template-v2 .wi-difine {
        width: 220px !important;
    }

    .checkout-template-v2 .smry-dta {
        margin-top: 0px;
    }

    .checkout-template-v2 .master-card {
        margin-right: 13px !important;
    }

    .checkout-template-v2 .smry-data-mainn {
        display: none;
    }

    .checkout-template-v2 .info-tzxt-log {
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        line-height: 19px;
        margin-top: 15px;
        letter-spacing: 0em;
        text-align: center;
    }

    .checkout-template-v2 .short-screen-show {
        display: block;
    }

    .checkout-template-v2 h2.shipin-add.ss-kjej.meth-ship {
        padding: 0px 13px;
    }

    .checkout-template-v2 .big-btn-show {
        display: none;
    }

    .checkout-template-v2 .resposive-dhdh {
        background-color: #c6dff7;
        height: 60px;
        padding: 10px 8px !important;
        padding: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 10px;
        /* flex-direction: column; */
    }

    .checkout-template-v2 .paymnt-method-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .checkout-template-v2 .price-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .checkout-template-v2 .smry-dta {
        padding: 8px 10px;
        background: #dcecfb;
    }

    .checkout-template-v2 h4.dis-code {
        /* background: red; */
        background: #dcecfb;
        margin: 0;
        padding: 5px 10px;
    }

    .checkout-template-v2 .offer.d-flex {
        padding: 0px 11px;
        background: #dcecfb;
    }

    .checkout-template-v2 h5.text__order-ship.mt-3 {
        margin: 0 !important;
        padding: 26px 10px 5px 10px;
        background: #dcecfb;
    }

    .checkout-template-v2 h5.text__order-ship {
        margin: 0 !important;
        padding: 6px 10px;
        background: #dcecfb;
    }

    .checkout-template-v2 .hori-rol {
        margin: 15px 0px;
    }

    h5.tatl-txt {
        background: #dcecfb;
        padding: 15px 10px 33px 10px;
        margin: 0 !important;
        /* border-radius: 0px; */
        font-family: "Lato" !important;
        border-radius: 0px 0px 30px 30px;
        font-size: 18px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
    }

    .checkout-template-v2 .cont-infooo.d-flex.justify-content-between.mt-4 {
        padding: 0px 10px;
    }

    .checkout-template-v2 .ss-kjej {
        padding: 0px 12px;
    }

    .checkout-template-v2 .ss-kjmar {
        margin: 0px 10px;
    }

    .checkout-template-v2 .smry-data-show {
        display: none;
    }

    .checkout-template-v2 .smry-data-show.active {
        display: block;
    }

    .checkout-template-v2 .store_logo_header.ss-kjmar {
        width: 100%;
        margin: 0;
    }

    .checkout-template-v2 .pera-degine br {
        display: none;
    }

    .checkout-template-v2 .card-icon-txt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .checkout-template-v2 .cont-infooo {
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
    }

    .checkout-template-v2 .price-iteam {
        font-family: "lato" !important;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        color: #262337;
        text-align: left;
        margin-top: 30px;
    }

    .checkout-template-v2 .item-tital {
        font-family: "lato" !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        color: #262337;
        text-align: left;
    }

    .checkout-template-v2 .paymnt-method-lock {
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
    }

    .checkout-template-v2 .paymnt-method-lock {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .checkout-template-v2 .top-gap-ttt {
        color: #808080;
        text-align: left !important;
        font-size: 13px;
        margin-top: 0 !important;
        padding: 0 !important;
        margin-bottom: 10px;
    }

    .checkout-template-v2 .resposive-set-ped {
        padding: 0 !important;
    }

    .checkout-template-v2 .cheak-condition-v2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 13px;
    }

    .checkout-template-v2 .set-row-v2 {
        margin: 0;
        max-width: 100%;
        padding: 0;
    }

    .checkout-template-v2 .main-fire,
    .resposive-smry-cart {
        padding: 10px 10px;
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
    }

    .checkout-template-v2 .resposive-smry-cart {
        background: #c6dff7;
        padding: 0;
    }

    .checkout-template-v2 .card-icon-txt span {
        font-size: 16px;
    }

    .checkout-template-v2 .img-fire {
        margin: 0 !important;
    }

    .checkout-template-v2 .pera-degine {
        margin: 0 !important;
    }

    .checkout-template-v2 .pera-degine-1 {
        margin: 0 !important;
        font-size: 14px;
    }

    .checkout-template-v2 .price-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .checkout-template-v2 .paddd-5 {
        padding: 10px;
    }

    .checkout-template-v2 .main-iner-upr-details-cards:after,
    section.main-inner-shoping-details:after {
        display: none;
    }

    .checkout-template-v2 .left-side {
        padding-right: 0 !important;
    }

    .checkout-template-v2 .brtd-defin::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0px;
        /* background: red; */
        left: 0;
        border: 1px solid #ebebeb;
        top: 78px;
    }
}

.checkout-template-v2 .left-side {
    padding-right: 57px;
}

@media (max-width: 374px) {
    .checkout-template-v2 .resposive-dhdh {
        background-color: #c6dff7;
        padding: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        /* align-items: flex-start;` */
        row-gap: 10px;
        /* flex-direction: column; */
    }

    .checkout-template-v2 .price-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .checkout-template-v2 .resposive-set-ped {
        padding: 0px !important;
    }
}

.checkout-template-v2 .btn-Confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 62px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media screen and (min-width: 768px) {
    .checkout-template-v2 .resposive-smry-cart {
        display: none;
    }
}

.checkout-template-v2 .main-iner-upr-details-cards:after,
section.main-inner-shoping-details:after {
    content: "";
    background: #dcecfb;
    position: absolute;
    right: 0;
    width: 43%;
    height: 94%;
    top: 86px;
    z-index: -1;
}

.checkout-template-v2 .main-iner-upr-details-cards {
    position: relative;
    z-index: 1;
}

.checkout-template-v2 section.main-inner-shoping-details {
    position: relative;
    z-index: 1;
}

.checkout-template-v2 label.lab-billing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-template-v2 .reoer {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 16px;
    top: 20px;
}

.checkout-template-v2 .tolmain-e {
    position: relative;
}

.checkout-template-v2 .billing-form {
    display: none;
}

.checkout-template-v2 .smry-data-mainn {
    margin-top: 60px;
}

.checkout-template-v2 .image-smry img {
    max-width: 72px;
}

.checkout-template-v2 .lockk {
    font-family: "Lato" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v2 .cheak-style:checked {
    background: #484794 !important;
    border-color: #484794 !important;
    accent-color: #484794 !important;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 20px !important;
    height: 20px !important;
    padding: 0;
    position: relative;
}

.checkout-template-v2 .cheak-style:checked::after {
    content: "";
    background: url(/assets/img/Vector.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-position: center;
}

.checkout-template-v2 .radio-style:checked {
    border-color: #484794 !important;
    accent-color: #484794 !important;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #484794;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
    padding: 0px;
    position: relative;
}

.checkout-template-v2 .radio-style:checked::after {
    content: "";
    background: #484794;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-position: center;
}

.checkout-template-v2 .total-all-iteam {
    border-bottom: 1px solid #fff;
    padding: 30px 0px !important;
}

.checkout-template-v2 .last-divider {
    border-bottom: 1px solid #fff;
    padding-bottom: 42px;
}

.checkout-template-v2 .ftr {
    margin-top: 15px;
}

.checkout-template-v2 svg.cart-icon {
    height: 20px;
    width: 20px;
}

.checkout-template-v2 .path-color-cart-buket {
    fill: #262337;
}

.checkout-template-v2 .path-color-arrow {
    fill: #262337;
}

.checkout-template-v2 path.path-color-cros {
    fill: #999999;
}

.checkout-template-v2 .total-all-iteam-2 {
    border-top: 1px solid #ffff;
}

.checkout-template-v2 .text__order-ship.extra-pad {
    padding-bottom: 25px !important;
}

.checkout-template-v2 .shipp-12-e {
    font-family: "Lato" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    color: #000000;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-template-v2 select {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
}

.checkout-template-v2 .select-wreper {
    position: relative;
}

.checkout-template-v2 .select-wreper::after {
    content: "▼";
    font-size: 1rem;
    color: #000000;
    top: 17px;
    left: 50px;
    /* right: 24px; */
    position: absolute;
}

.checkout-template-v2 .select-wreper-2 {
    position: relative;
}

.checkout-template-v2 .select-wreper-2::after {
    top: 15px;
    right: 15px;
    width: 25px;
    content: "▼";
    color: #000000;
    font-size: 1rem;
    background: #fff;
    position: absolute;
}

.checkout-template-v2 .select-wreper-3 {
    position: relative;
}

.checkout-template-v2 .select-wreper-3::after {
    content: "▼";
    font-size: 1rem;
    color: #000000;
    right: 32px;
    top: 15px;
    /* left: 57px; */
    position: absolute;
}

.checkout-template-v2 .select-wreper-4 {
    position: relative;
}

.checkout-template-v2 .select-wreper-4::after {
    content: "▼";
    font-size: 1rem;
    color: #000000;
    right: 32px;
    top: 15px;
    /* left: 57px; */
    position: absolute;
}

.checkout-template-v2 .first-smry {
    padding-top: 25px !important;
}

.checkout-template-v2 img.ms-3.img-fire {
    max-width: 30px;
}


/*** Checkout Footer Css ***/
.checkout-template-v2 .checkout-footer {
    padding-right: 57px;
}

.checkout-template-v2 .checkout-footer .checkout-footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 20px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 32px;
    margin-bottom: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.checkout-template-v2 .checkout-footer.checkout-footer-mobile .checkout-footer-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.checkout-footer-mobile {
    display: none;
}

.checkout-template-v2 .checkout-footer .checkout-footer-links a {
    color: #484794;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}

.discount-apply-outside-cart-summary {
    display: none;
}

.discount-apply-outside-cart-summary h4 {
    margin: 0;
    padding: 5px 10px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #999999;

}

.discount-apply-outside-cart-summary .discount-input-section {
    margin: 0;
    padding: 0px 11px;
}

@media (max-width:786px) {
    .discount-apply-outside-cart-summary {
        display: block !important;
    }

    .checkout-footer.checkout-footer-web {
        display: none !important;
    }

    .checkout-footer.checkout-footer-mobile {
        display: block !important;
    }
}