@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Jost:ital,wght@0,400;0,700;1,300&family=Lato:ital,wght@0,300;1,300;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
}

.checkout-thankyou-v3 {
    font-family: "jost" !important;
}

.checkout-thankyou-v3 .icon-iteam-smry img {
    max-width: 72px;
}

.checkout-thankyou-v3 main.main.checkout {
    padding: 0 !important;
}

.checkout-thankyou-v3 .custum-inner-container {
    padding: 20px 120px;
}

.checkout-thankyou-v3 .hedder-defgine {
    background: linear-gradient(90.13deg, #dcf8de 0.06%, #b3dbc2 100%);
    box-shadow: 0px 1px 4px rgba(38, 35, 55, 0.1);
}

.checkout-thankyou-v3 .image-logos img {
    width: 90px;
    height: 33px;
}

.checkout-thankyou-v3 .image-logos {
    display: flex;
    align-items: center;
    justify-content: end;
}

.checkout-thankyou-v3 .thank-you-section {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.19);
    padding: 25px 25px 35px 25px;
    background-color: #fff;
}

.checkout-thankyou-v3 .order-smrey {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.19);
    padding: 25px 25px 35px 25px;
    background-color: #fff;
}

.checkout-thankyou-v3 .user-name {
    font-family: "jost" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #1c1c1c;
    text-align: left;
}

.checkout-thankyou-v3 .icon-airplane img {
    height: 30px;
    width: 30px;
}

.checkout-thankyou-v3 .main-ship-cheak {
    border: 1px solid #dfdfdf;
    padding: 12px 15px 12px 15px;
}

.checkout-thankyou-v3 .check img {
    height: 20px;
    width: 20px;
}

.checkout-thankyou-v3 .main-ship-cheak {
    justify-content: space-between;
    align-items: center;
}

.checkout-thankyou-v3 .shipping {
    align-items: center;
}

.checkout-thankyou-v3 .user-datils-addres {
    margin-left: 15px;
}

.checkout-thankyou-v3 .user-datils-addres h4 {
    font-family: "jost" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-thankyou-v3 .user-datils-addres p {
    font-family: "jost" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 5px !important;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-thankyou-v3 .btn-contonue-shoping button {
    width: 100%;
    background: #042030;
    height: 54px;
    color: #ffffff;
    font-family: "jost" !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 25px;
    border-radius: 5px;
    letter-spacing: 0em;
    border: 0;
    text-align: center;
}

.checkout-thankyou-v3 .order-smry-t {
    font-family: "jost" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1c1c1c;
}

.checkout-thankyou-v3 .order-main {
    justify-content: space-between;
}

.checkout-thankyou-v3 .iteam-deatiles h4 {
    font-family: "jost" !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #1c1c1c;
    letter-spacing: 0em;
    text-align: left;
}

.checkout-thankyou-v3 .iteam-deatiles p {
    font-family: "jost" !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #1c1c1c;
    text-align: left;
}

.checkout-thankyou-v3 .crose {
    text-align: right;
}

.checkout-thankyou-v3 .crose img {
    height: 13px;
    width: 13px;
}

.checkout-thankyou-v3 .iteam-price {
    font-family: "jost" !important;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1c1c1c;
}

.checkout-thankyou-v3 .order-main.d-flex.mt-3 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 16px;
}

.checkout-thankyou-v3 .toatal-thx-data {
    font-family: "jost" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    color: #1c1c1c;
    text-align: left;
}

.checkout-thankyou-v3 .toatal-thx-data span {
    font-family: "jost" !important;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-thankyou-v3 .last-fotr-total h5 {
    font-family: "jost" !important;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.checkout-thankyou-v3 .last-fotr-total h5 span {
    font-family: "jost" !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1c1c1c;
}

.total-ship-price {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.checkout-thankyou-v3 .main.checkout {
    background-image: url(/assets/img/backfram.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.checkout-thankyou-v3 section.main-inner-shoping-details-1 {
    background: linear-gradient(125.58deg, #dffae0d9 0%, #97c7aff0 100%);
}

.checkout-thankyou-v3 .main-inner-back-botom {
    height: calc(100vh - 130px);
}
.checkout-thankyou-v3 .checkout-thankyou-footer-links a {
    color: #042030;
    padding-left: 10px;
}
@media (max-width: 767px) {
    .checkout-thankyou-v3 .last-fotr-total h5 {
        font-size: 18px;
    }
    .checkout-thankyou-v3 .thank-you-section{
        padding: 20px;
    }
    
}

@media (max-width: 992px) {
    .checkout-thankyou-v3 .custum-inner-container {
        padding: 17px 15px;
    }

    .checkout-thankyou-v3 .master-card {
        margin-right: 13px !important;
    }

    .checkout-thankyou-v3 .main-inner-back-botom {
        height: 100%;
    }

    .checkout-thankyou-v3 .order-smrey {
        margin-top: 25px;
    }
}

.checkout-thankyou-v3 .shopify_body .main.checkout,
body #main.checkout {
    padding-bottom: 0px !important;
}