extends ../../layouts/backend_layout

block header_breadcrumb
  nav
    ol.breadcrumb
      li.breadcrumb-item Home
      li.breadcrumb-item.active Shipping Rates

block content 
  main#main.main

    section.section.profile.displaynone.shipping_rate_banner
      div.under-data-payment  
        img(src='/assets/img/shiping-banner.svg')   
        p No one Shipping Rate has been added
        a.btn.btn-primary(href=`/${store_id}/add-shipping-rate`)
          | Add Shipping Rate

    section.section.main-inner-data-profile.displaynone.shipping_rate_listing
      div.row
        div.col-lg-12
          div.card
            div.card-header.text-center.textsm-start.py-4
              .d-sm-flex.justify-content-between
                h5 Shipping Rates
                .p-payment
                  a.btn.btn-primary(href=`/${store_id}/add-shipping-rate`)
                    | Add Shipping Rate

            div.card-body
              table#shipping_rate_table.table.datatable
                thead
                  tr 
                    th Name
                    th Shipping Price
                    th Price range
                    th Weight range
                    th Countries
                    th 




block scripts
  script.
    var store_id = `!{store_id}`;

  script(type='text/javascript' src='/assets/js/custom/shipping_rates.js')